# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/*
**/.idea/*
!.idea/fileTemplates/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# Additional
get_flamingo_flutter.iml
**/**/android/build/
**/**/android/get_flamingo_flutter_android.iml
**/**/android/local.properties
**/**/ios/Pods
**/**/ios/*.app.dSYM.zip
**/**/ios/*.ipa
**/**/ios/Podfile.lock
**/**/ios/Flutter/flutter_export_environment.sh
**/**/ios/Flutter/Generated.xcconfig
**/**/ios/Runner.xcworkspace/xcuserdata
**/**/ios/Runner.xcodeproj/xcuserdata
.gradle
Gemfile.lock
android/*.jks
android/jks/*.jks
android/keystore.properties
drafts/
logs/

**/*.g.dart
**/*.chopper.dart
**/*.patch
ios/Flutter/.last_build_id
**/*.apk
**/*.aab
**/*.ipa
**/*.dSYM.zip
**/*.cer
fastlane/report.xml
ios/fastlane/screenshots
android/fastlane/metadata
**/pubspec.lock
**/*.mobileprovision
.firebase